.logoImg {
  width: 100%;
  height: 100%;
}

.logo {
  width: 200px;
  height: 75px;
  margin-top: 10px;
  cursor: pointer;
}
.dropdown-basic {
  font-size: 20px;
  margin-top: 13px;
}

.oNas {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  cursor: pointer;
  color: black;
}

.bookmarkImg {
  width: 100%;
}

.bookmark {
  margin: auto;
  padding-top: 20px;
}

.schetchick {
  background-color: #c4c4c4;
  width: 10px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  position: relative;
  top: -30px;
  left: 13px;
}

.arr {
  font-size: 20px;
}

.Login {
  width: 110px;
  height: 25px;
  margin-top: 22px;
  border: 0;
  border-radius: 3px;
  background-color: #c4c4c4;
}

.main {
  margin-top: 25px;
}

.steak {
  border: solid 2px black;
  margin: auto;
}

.steakImg {
  width: 100%;
}

.typeT {
  width: 100%;
  height: 50px;
  font-size: 30px;
  margin-bottom: 110px;
}

.poisk {
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
}

.eatImg {
  width: 100%;
  height: 100%;
}

.eat {
  width: 500px;
}

.karta {
  display: flex;
  margin-bottom: 20px;
  border: double grey 6px;
}

.karta:hover {
  box-shadow: -3px 4px 6px 1px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: 0.2s;
}

.name {
  text-align: center;
  font-size: 40px;
  margin: auto;
  margin-top: 1px;
}

.description {
  padding: 10px 50px;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.calories {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  border-top: solid 1px grey;
  margin-top: 100px;
}

.number {
  padding: 25px 0;
}

.LikeOne {
  cursor: pointer;
}

.nameComm {
  font-weight: bold;
}

.rod {
  display: flex;
  box-sizing: border-box;
}

.inputComm {
  height: 27px;
  position: fixed;
  bottom: 10px;
  left: 20px;
  margin-left: 20px;
  box-sizing: border-box;
}

.btnComm {
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 40px;
  text-align: center;
  margin-left: 20px;
  border-radius: 4px;
}

.exit {
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  border: none;
  background-color: white;
}
